/**{
	border:1px dashed blue;
}*/
#namePic{
	float:left;
	width:300px;
	display:inline-block;
	height:360px;
	
}
#menuContainer{
	background:#CCCCCC;
	height:55px;
	position:fixed;
	margin: 0px auto;
	left:0px; right:0px;
	opacity: 0.8;
	

}
#empty{
	height:80px;
	
}
table { 
	color: #333333; /* Lighten up font color */
	font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 700px; 	
/*border-spacing: 0; */
	margin: 0px auto;
	left:0px; right:0px;
	z-index:1;
	border-collapse: collapse;
	border-spacing: 0;

}
td, th { height: 45px;width:100px;
font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
background-color:#F5F5F5; 
/*opacity: 0.8; filter: alpha(opacity=50)*/
/*background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
margin:auto; 
border:1px solid #919191;
/*-webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
 -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;*/
 
 
} /* Make cells a bit taller */
th:first-child{
	/*box-shadow: -2px 0 8px -10px rgba(0, 0, 0, 0.8),-0px 0 0px -0px rgba(0, 0, 0, 0.8), -2px 0 8px -4px rgba(0, 0, 0, 0.8), -2px 0 8px -4px rgba(0, 0, 0, 0.8);*/
    -webkit-box-shadow: -3px 0 5px -2px #888,0 -3px 5px -2px #888,0 3px 5px -2px #888;
            box-shadow: -3px 0 5px -2px #888,0 -3px 5px -2px #888,0 3px 5px -2px #888;
       -moz-box-shadow: -3px 0 5px -2px #888,0 -3px 5px -2px #888,0 3px 5px -2px #888;
       



}
th:nth-child(4){
 	-webkit-box-shadow: 3px 0 5px -2px #888,0 -3px 5px -2px #888,0 3px 5px -2px #888;
     box-shadow: 3px 0 5px -2px #888,0 -3px 5px -2px #888,0 3px 5px -2px #888;
     

}
th:nth-child(2){
	 -webkit-box-shadow:0 -3px 5px -2px #888,0 3px 5px -2px #888;
            box-shadow: 0 -3px 5px -2px #888,0 3px 5px -2px #888;

}
th:nth-child(3){
	 -webkit-box-shadow:0 -3px 5px -2px #888,0 3px 5px -2px #888;
            box-shadow: 0 -3px 5px -2px #888,0 3px 5px -2px #888;

}
th:hover{
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8),-12px 0 15px -4px rgba(0, 0, 0, 0.8);
	box-shadow: -0px 3px 0px -0px rgba(0, 0, 0, 0.8),-0px 3px 0px -3px rgba(0, 0, 0, 0.8), -0px -3px 0px -0px rgba(0, 0, 0, 0.8), -0px -3px 0px -0px rgba(0, 0, 0, 0.8);
}
/*
 *To be used when jquery is at work for the menu highlight 
 th:nth-child(2){
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8),-12px 0 15px -4px rgba(0, 0, 0, 0.8);
	box-shadow: -0px 3px 0px -0px rgba(0, 0, 0, 0.8),-0px 3px 0px -3px rgba(0, 0, 0, 0.8), -0px -3px 0px -0px rgba(0, 0, 0, 0.8), -0px -3px 0px -0px rgba(0, 0, 0, 0.8);

}*/



div h1{
	letter-spacing: 2px;
	font-size:20px;
	text-align:center;
	
}
#name{
	/*position:relative;*/
	/*margin-left:35%;*/
	height:50px;
	
	
}

.paraProjects{
	font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#container{
	width:850px;
	margin:0 auto;
	
	
}
/*#menu{
		font-family: 'Open Sans';
		/*position:fixed;
		margin:auto;
		padding:auto;
}*/

/* 
 * This is the id of the body, make changes to 
 */

#main{
	
	background:#CCCCCC;
}
#aboutme{
	font-size: big;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 24px;
	background-color:#F5F5F5;
	width:500px;
	height:500px;
	margin:0px auto;
	border: 1px solid #909090;;
	border-radius:30px;
	float:right;
	display:inline-block;
	
	
}

#aboutmeContact{
	padding-top:5px;
	padding-left:10px;
	display:block;
	background-color:#F5F5F5;
	width:800px;
	height:400px;
	margin:0 auto;
	border:10px;
	border-color:#333333;
	border-radius:10px;
}
#paraContact{
	float:left;
	display:inline;
}
#feynman{
	float:right;
	display:inline-block;
	height:300px;
	width:200px;
	margin-right:20px;
	margin-top:20px;
}

.circle{
	margin:30px;
	
}
#circle
{
border-radius:50% 50% 50% 50%;  
width:200px;
height:180px;
border: 2px solid #909090;
}
.foot{
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:center;
	height:50px;
	clear:both;
	border:#333333;
	}
	
#paragraph{
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-right:50px;
	margin-left:50px;
	overflow-y: scroll;
	height:450px;
}
a{
	text-decoration:none;
	
	
}

.empty_{
	
	height:30px;
	
}
#contactTitle{
	text-align:left;	
}

