
#namePic{
	float:left;
	width:300px;
	display:inline-block;
	height:360px;
	
}
table { 
color: #333333; /* Lighten up font color */
font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
width: 700px; 
/*border-spacing: 0; */
position:fixed;
z-index:1;
margin: 0px auto;
left:0px; right:0px;

}
div h1{
	letter-spacing: 2px;
	font-size:20px;
	text-align:center;
	
}
#name{
	/*position:relative;*/
	/*margin-left:35%;*/
	height:50px;
	
	
}
td, th { border-radius: 5px; height: 30px;width:100px } /* Make cells a bit taller */
table th th{
	border-left:1px solid #919191;
	
}
tr
{
	margin:auto;
}
th {
font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
background-color:#F5F5F5; opacity: 0.8; filter: alpha(opacity=50);
/*background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
margin:auto;
}
.paraProjects{
	font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#container{
	width:850px;
	margin:0 auto;
	
	
}
td {
background: #F5F5F5; /* Lighter grey background */
text-align: center; /* Center our text */

}
/*#menu{
		font-family: 'Open Sans';
		/*position:fixed;
		margin:auto;
		padding:auto;
}*/
#main{
	background-color:white;
	background:#CCCCCC;
}
#aboutme{
	font-size: big;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 24px;
	background-color:#F5F5F5;
	width:500px;
	height:430px;
	margin:0px auto;
	border: 3px solid #909090;;
	border-radius:30px;
	float:right;
	display:inline-block;
	
	
}

#aboutmeContact{
	padding-top:5px;
	padding-left:10px;
	display:block;
	background-color:#F5F5F5;
	width:800px;
	height:400px;
	margin:0 auto;
	border:10px;
	border-color:#333333;
	border-radius:10px;
}
#paraContact{
	float:left;
	display:inline;
}
#feynman{
	float:right;
	display:inline-block;
	height:300px;
	width:200px;
	margin-right:20px;
	margin-top:20px;
}

.circle{
	margin:30px;
	
}
#circle
{
border-radius:50% 50% 50% 50%;  
width:200px;
height:180px;
border: 3px solid #909090;
}
.foot{
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:center;
	height:50px;
	clear:both;
	border:#333333;
	}
	
#paragraph{
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-right:50px;
	margin-left:50px;
	overflow-y: scroll;
	height:380px;
}
a{
	text-decoration:none;
	
	
}
#empty{
	height:50px;
	
}
.empty_{
	
	height:30px;
	
}
#contactTitle{
	text-align:left;	
}

