.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.decoLinks a:hover{
	text-decoration: none;
}
.circleBaseInner {
  margin-top:5px;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 200px;
    height: 200px;
    background: url('../../img/profile-pic.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
.circleBaseOutter {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 210px;
    height: 210px;
    border:1px dashed white;
}

.popover-mask {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}
.social {
  width: 100%;
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed white;
  background-clip: content-box;
  padding: 2px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 30px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  -webkit-transform:translateX(10px) rotate(360deg);
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: black;
  color: white;
}

.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;

}
.social .link.facebook:hover {
  -webkit-transform:translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size:5px;
  -webkit-transform:translateX(10px) rotate(360deg);
  transform: translateX(10px) rotate(360deg);

}

.home{
    background: #222 url("../../img/linkinWeb.jpg") no-repeat fixed center;
  background-size: cover;
}

.transparency{
  background:white;
      height:277px;
      margin-top:2px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
  filter: alpha(opacity=80);  /* IE 5-7 */
  -moz-opacity: 0.8;          /* Netscape */
  -khtml-opacity: 0.8;        /* Safari 1.x */
  opacity: 0.8;
  z-index:0;
}
