<div class="home" style="width:100vw;height:100vh;margin-top:-20px;">
<div class="container-fluid " style="margin-top:-10px" >

   <div class=" cols-xs-12 col-sm-4 col-lg-4 animated fadeIn" style="margin-left:2%;">
   <div align="center" style="margin-top:80px" class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
   <h3 >David Fernando Herrera</h3>  </div>
   <div>

   <div align="center" class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="padding:5% 10% 5% 10%">
     <div class="circleBaseOutter">
       <div class="circleBaseInner">
         <img class="circleBaseInner" ng-src="{{profilePicture}}"></img>
       </div>
     </div>
    </div>

   	 <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" style="margin-top:-4%;background-color:rgba(255,255,255,0.8);border-radius:4px;padding:3px" >
      <p style="font-size:16px" style="text-align:center">

      <strong>Current Position:</strong><br>
      {{position}}<br>
      <strong>Major:</strong><br>
      Computer Science and Physics</p>
</div>
</div>


   <div align="center" class="social col-xs-12 col-lg-12 col-md-12 col-sm-12" style="margin-top:10px">
  <a href ng-click="openContact('facebook')" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>
  <a href ng-click="openContact('linkedin')" class="link twitter" target="_parent"><span class="fa fa-linkedin-square"></span></a>
  <a href ng-click="openContact('github')" class="link google-plus" target="_parent"><span class="fa fa-github"></span></a>
</div>
   </div>
    <div class="container col-xs-12 col-sm-7 col-lg-7" style="margin-left:2%;margin-top:60px">
    <h5>About me:</h5>

    <div class="panel panel-default" style="background-color:transparent;border-radius:4px">
  <div class="panel-body" style="background:rgba(255,255,255,0.5)">
  <div>
    <p id="paragraph" ng-style="{'font-size':getStyle()}">
  {{IntroParagraph|limitTo:1000}}<a type="button" class="btn" data-toggle="modal" data-target="#myModal" ng-hide="moreInfo" href style="font-size:11px;text-decoration:none" > More Info&raquo;</a> </p>
  </div>

    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About Me</h4>
      </div>
      <div class="modal-body" style="overflow-y:scroll">
        <div><p >
          {{IntroParagraph}}
</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

  </div>
  </div>
  <div style="margin-top:-10px"><strong>Activity Log: </strong><a href ng-click="open()">See all</a></div>
  <div class="panel panel-default" style="background-color:transparent" >
  <div class="panel-body" style="height:50vh;overflow-y:scroll;overflow-x:hidden;background:rgba(255,255,255,0.8)">
  	<div ng-hide="$index>shownUpdates" ng-repeat="update in updates">
  		<hr ng-show="$index!=0" >
  		<div class="row" >
  			<div class="col-sm-1 col-lg-1 col-md-1 hidden-xs">
                <img ng-src="./img/myphot2.jpg" class="timeline-image img-responsive" >
            </div>
            <div class="col-sm-11 col-lg-11 col-md-11 col-xs-12">
            	<div class="timeline-date">{{update.Timestamp}}</div>
                <div class="timline-from">
                  <span class="timeline-name">{{update.Title}}</span>
                  <span class="timeline-id"><a href="https://github.com/dherre3" >@dherre3</a></span>
                </div>
                <div class="timeline-message" ng-bind-html="update.Content| to_trusted">
                </div>
            </div>
  		</div>


  	</div>
    <hr>
     <div ng-hide="shownUpdates>updates.length-1" align="center" class="decoLinks timeline-id"><a href ng-click="moreUpdates();">More Updates</a></div>
     <div align="center" class="timeline-id" ng-hide="shownUpdates<=updates.length-1">
       <p>No more updates!</p>
     </div>
  </div>
  </div>

  </div>
  </div>
  </div>
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Updates</h3>
    </div>
    <div class="modal-body">
    <div ng-hide="$index>shownUpdates" ng-repeat="update in updates">
      <hr ng-show="$index!=0" >
      <div class="container-fluid" >
        <div class="col-sm-1 col-lg-1 col-md-1 hidden-xs">
                <img ng-src="./img/myphot2.jpg" class="timeline-image img-responsive" >
            </div>
            <div class="col-sm-11 col-lg-11 col-md-11 col-xs-12">
              <div class="timeline-date">{{update.Timestamp}}</div>
                <div class="timline-from">
                  <span class="timeline-name">{{update.Title}}</span>
                  <span class="timeline-id"><a href="https://github.com/dherre3" >@dherre3</a></span>
                </div>
                <div class="timeline-message" ng-bind-html="update.Content| to_trusted">
                </div>
            </div>
      </div>


    </div>
    <hr>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
    </div>
</script>
  <div class="visible-xs home" style="width:100vw;height:100vh;margin-top:-20px;"></div>
