<div class="projects" style="width:100%;height:100vh;margin-top:-20px">


<div class="container-fluid" >
	<div class="col-xs-12 col-md-3" style="margin-top:100px;padding:0">
	<div class="panel panel-default" style="width:100%;height:75vh;background-color:rgba(0,0,0,0.7)">
		<div class="panel-body">
		<div class="projectDiv animated bounce" style="overflow-y:scroll">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion"  onclick="return false;"  href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Web Development
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      	<div class="list-group">
			  <a ng-repeat="project in projects" ng-click="goToProject($index+1)" ng-show="project.Type=='Web Development'" class="list-group-item"> {{project.Title}}</a>
		</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="return false;" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Object Oriented Programming
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      	<div class="list-group">
			  <a ng-repeat="project in projects"  ng-click="goToProject($index+1)" ng-show="project.Type=='Object Oriented Programming'" class="list-group-item"> {{project.Title}}</a>
		</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="return false;" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Other
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      	<div class="list-group">
			  <a ng-repeat="project in projects" ng-click="goToProject($index+1)" ng-show="project.Type!='Object Oriented Programming'&&project.Type!='Web Development'" class="list-group-item"> {{project.Title}}</a>
		</div>
    </div>
  </div>
</div>
		</div>
		</div>
		</div>
	
	
	</div>
	<div class="col-xs-12 col-sm-9" style="margin-top:100px;padding-left:3px">
		<div class="panel panel-default" style="overflow-y:scroll;width:100%;height:75vh;background:rgba(0,0,0,0.7)" >
		<div class="panel-body" style="padding-top:0px;padding-bottom:0px">
		<div ng-repeat="project in projects" id="anchor{{$index+1}}"class="projectContentDiv animated fadeIn">

			<div class="cols-xs-12 project-title"><strong>{{project.Title}}</strong>
			</div>
			<div class="row" style="padding:0">

			<div class="hidden-xs col-sm-3" style="margin-left:40px;margin-top:20px"> 

				<img class="img-responsive" ng-src="{{project.ImagePath}}">
			</div>
			<div class="col-xs-8" style="padding:0">
				<hr>
				<div style="height:40vh;overflow-y:scroll">
				<div class="col-xs-3">
				<strong>Description: </strong>
				</div>
				<div class="col-xs-9">
					<p>{{project.Description}}</p>
				</div>
				<div class="col-xs-3">
				<strong>Technologies: </strong>
				</div>
				<div class="col-xs-9">
					<p>{{project.Technologies}} </p>
				</div>
				<div ng-show="project.Progress!==undefined">
					<div class="col-xs-3">
					<strong>Progress: </strong>
					</div>
					<div class="col-xs-9">
						<p>{{project.Progress}} </p>
					</div>
				</div>
				<div class="col-xs-3">
				<strong>Employer: </strong>
				</div>
				<div class="col-xs-9">
					<p>{{project.Employer}}</p>
				</div>
				
				<div class="col-xs-3">
				<strong>Roll In Project: </strong>
				</div>
				<div class="col-xs-9">
					<ul ng-repeat="(key, value) in project.Rolls">
					<li ng-show="$index!=0">{{value}}</li>
					</ul> 
				</div>
				</div>
				<hr>
				<div style="margin-top:15px;padding-bottom:15px">
					<div class="col-xs-12 col-lg-4 col-sm-4 col-md-4">
						<a href="{{project.Github.link}}"class="btn btn-default btn-lg" style="width:100px;color:white;background-color:black"><i class="ion-social-github" style="font-size:30px"></i><br>Github</a>
					</div>

					<div class="col-xs-12 col-lg-4 col-sm-4 col-md-4">
						<a class="btn btn-primary btn-lg" style="width:100px"><i class="ion-iphone" style="font-size:30px"></i><br> Demo</a>
					</div>

					<div class="col-xs-12 col-lg-4 col-sm-4 col-md-4" ng-show="project.Abstract!==undefined">
						<a class="btn btn-success btn-lg" style="width:100px"><i class="ion-ios-list-outline" style="font-size:30px"></i> <br>Paper</a>
					</div>
				</div>
				<div style="margin-top:10px;">&nbsp;</div>
				</div>
			</div>

			</div>

			<div style="margin-bottom:20px">
			</div>
		</div>


		</div>
		</div>
	
	</div>



</div>

</div>
<div class="projects visible-xs" style="width:100vw;height:100vh;margin-top:-20px;">
</div> 