.projects{
    background: #222 url("http://25.media.tumblr.com/a408ad9af259cf827ed4599d60bcb0a9/tumblr_myebwtELvb1st5lhmo1_1280.jpg");
	background-size:cover;
	background-position: center; 
	background-repeat: repeat-y;

}
.transDiv{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
  filter: alpha(opacity=50);  /* IE 5-7 */
  -moz-opacity: 0.5;          /* Netscape */
  -khtml-opacity: 0.5;        /* Safari 1.x */
  opacity: 0.5;  
}

.projectDiv{
	border:1px solid grey;
	background-color:white;
	border-radius:5px;
	height:70vh;


}
.projectContentDiv{
	border:1px solid grey;
	background-color:white;
	border-radius:5px;
	height:435px;
	margin-top:10px;
	margin-bottom:20px;

}
.project-title{
	font-size:26px;
	text-align:center;
	color:#2B6197;
}
.project-title:hover{
	text-decoration: none;
}
a {
 cursor: pointer;
 }
 
.decoLinks a:hover{
	text-decoration: none;
}

hr { margin: 10px 0 10px 0; }
ul {
	padding-left:10px;
}