<div class="projects" style="width:100%;height:100vh;margin-top:-20px">


<div class="container" >
	<div class="col-xs-12 col-md-3" style="margin-top:100px">
	<div class="panel panel-default" style="width:100%;height:80vh;background-color:rgba(0,0,0,0.7)">
		<div class="panel-body">
		<ul>
		<li>a</li>
		<li>b</li>
		<li>c</li>
	</ul>
	<br>
	<ul>
		<li>a</li>
		<li>b</li>
		<li>c</li>
	</ul>
		</div>
		</div>
	
	
	</div>
	<div class="col-xs-12 col-sm-9" style="margin-top:100px">
		<div class="panel panel-default" style="width:100%;height:80vh;background:rgba(0,0,0,0.7)">
		<div class="panel-body">
		<div class="projectDiv">
			<div class="project-title"><strong><a href ng-click="goToProject()">MUHC App</a></strong></div>
			<div class="row" style="padding:0">
			<div class="hidden-xs col-sm-3" style="margin:5px;"> 
				<img class="img-responsive" ng-src="http://davidfherrerar.me/img/muhcapp.png">
			</div>
			<div class="hidden-xs col-sm-8 row" style="padding:0">
			<div class="col-xs-3">
			<strong>Description: 
			</strong>
			</div>
			<div class="col-xs-9">
				<p>MUHC Oncology multiplatform application for patients using Apache Cordova.</p>
			</div>
			</div>
			<div class="hidden-xs col-sm-8 row" style="padding:0">
			<div class="col-xs-3">
			<strong>Technologies: </strong>
			</div>
			<div class="col-xs-9">
				<p>html, Javascript, NodeJS, CSS, AngularJS, Cordova, OnsenUI, Firebase, MySQL, PHP </p>
			</div>
			</div>

			</div>
		</div>


		</div>
		</div>
	
	</div>



</div>

</div>
<div class="projects visible-xs" style="width:100vw;height:100vh;margin-top:-20px;">
</div> 