<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="icon" href="../img/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" type="image/png" href="../img/favicon.png"/>
<title>Projects</title>
</head>

<body id="main">
<div id="menu">
	

<table>
<tr>
	<th><a href="../templates/index.html" style="color:black">About Me</a></th>
	<th><a href="../templates/projects.html" style="color:black">Projects</a></th>
	<th><a href="../pdfs/resumeDavid.pdf"style="color:black">CV</a></th>
	<th><a href="../templates/contact.html" style="color:black">Contact</a></th>
</tr>

</table>
<br>
</div>
<div class="empty_"> </div>
<div id="aboutmeContact">
	<div id="paraContact">
	
	<h2>Programming Projects:</h2>
	<p class="paraProjects"> 
    Github: <a href="https://github.com/dherre3">dherre3</a><br></p>
    <h2>Papers:</h2>
    <p class="paraProjects">
        The Building of a Cellular Detector, T-cell Binding:<th><a href="../pdfs/CellularDetectorPaper.pdf">[Link]</a></th>.<br>
        On the speed of clusters in fluorescent images: <th><a href="../pdfs/dSpidaPaper.pdf">[Link]</a></th>.<br>
        Thermistor Properties: <th><a href="../pdfs/thermistorPaper.pdf">[Link]</a></th>.</p></div>
     <div><img id="feynman" src="http://41.media.tumblr.com/tumblr_lrx39pR85W1qbquyyo1_500.jpg" > </a></div>	
</div>

<footer class="foot">Copyright &copy; David Fernando Herrera 2015</footer>
</body>
</html>
