<div class="signin">
	<div class="container" style="width:400px" >
	<div class="panel panel-default" style="height:80%;margin-top:100px">
	<div class="panel-body" style="height:80%;vertical-align:middle;background-color:#85C2FF" >

		<form class="formDiv" align="center">
			<div align="center" class="form-group">
			<img ng-src="soccer.png" class='img-responsive photo'>
			</div>
			<div class="form-group" >

			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="email" placeholder="Email" >
			  </div>
			  <div class="form-group" >
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="password" placeholder="Password">
			  </div>
			<div class="form-group" align="center">
			<button type="submit" ng-click="submitPass()" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
</div>



</div>